{{ header }}
<div id="content" class="login-page bg-body-secondary">
  <div class="login-box">
    <div class="card card-outline card-primary">

      <div class="card-header text-center">
        <h1 class="mb-0"><b>{{ text_login }}</b></h1>
      </div>

      <div class="card-body login-card-body">

        {% if error_warning %}
          <div class="alert alert-danger alert-dismissible fade show">
            <i class="fa-solid fa-circle-exclamation"></i> {{ error_warning }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        {% endif %}

        {% if success %}
          <div class="alert alert-success alert-dismissible fade show">
            <i class="fa-solid fa-check-circle"></i> {{ success }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        {% endif %}

        <form id="form-login" action="{{ login }}" method="post" data-rms-toggle="ajax" data-testid="admin-login-form">

          <div class="input-group mb-1">
            <div class="form-floating">
              <input type="text" name="username" id="input-username" class="form-control" placeholder=" " required data-testid="admin-login-username">
              <label for="input-username">{{ entry_username }}</label>
            </div>
            <div class="input-group-text">
              <span class="fa-solid fa-user"></span>
            </div>
          </div>

          <div class="input-group mb-1">
            <div class="form-floating">
              <input type="password" name="password" id="input-password" class="form-control" placeholder=" " required data-testid="admin-login-password">
              <label for="input-password">{{ entry_password }}</label>
            </div>
            <div class="input-group-text">
              <span class="fa-solid fa-lock"></span>
            </div>
          </div>

          <div class="row mt-3">
            {% if forgotten %}
              <div class="col-8 d-inline-flex align-items-center">
                <a href="{{ forgotten }}" class="text-muted small">{{ text_forgotten }}</a>
              </div>
            {% endif %}
            <div class="{% if forgotten %}col-4{% else %}col-12{% endif %}">
              <div class="d-grid">
                <button type="submit" class="btn btn-primary" data-testid="admin-login-submit">
                  <i class="fa-solid fa-key"></i> {{ button_login }}
                </button>
              </div>
            </div>
          </div>

          {% if redirect %}
            <input type="hidden" name="redirect" value="{{ redirect }}"/>
          {% endif %}

        </form>

      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</div>
{{ footer }}
