{{ header }}{{ column_left }}
<div id="content" data-testid="admin-landpage-block-list-page">
  {% set rms_actions = [
    {
      tag: 'button',
      type: 'submit',
      form: 'form-block',
      formaction: delete,
      class: 'btn btn-danger',
      icon: 'fa-regular fa-trash-can',
      text: button_delete
    },
    {
      href: add,
      class: 'btn btn-primary',
      icon: 'fa-solid fa-plus',
      text: text_add,
      testid: 'admin-landpage-block-add-link'
    }
  ] %}
  {% include 'common/rms_page_header.twig' with {
    rms_heading_title: heading_title,
    rms_breadcrumbs: breadcrumbs,
    rms_actions: rms_actions
  } %}
  <div class="container-fluid">
    {% if success %}
      <div class="alert alert-success"><i class="fa-solid fa-circle-check"></i> {{ success }}</div>
    {% endif %}
    {% set rms_card_body %}
      <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-block">
        <div class="rms-admin-table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <thead>
              <tr>
                <th style="width:1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\\'selected\\']').prop('checked', this.checked);" /></th>
                <th>{{ column_page }}</th>
                <th>{{ column_type }}</th>
                <th class="text-end">{{ column_sort_order }}</th>
                <th class="text-end">{{ column_action }}</th>
              </tr>
            </thead>
            <tbody>
              {% if blocks %}
                {% for block in blocks %}
                  <tr data-testid="admin-landpage-block-row" data-block-id="{{ block.block_id }}">
                    <td class="text-center"><input type="checkbox" name="selected[]" value="{{ block.block_id }}" /></td>
                    <td>{{ block.page_title }}</td>
                    <td><span class="badge text-bg-light text-dark rms-status-badge">{{ block.type }}</span></td>
                    <td class="text-end">{{ block.sort_order }}</td>
                    <td class="text-end"><a href="{{ block.edit }}" class="btn btn-outline-primary btn-sm" data-testid="admin-landpage-block-edit-link"><i class="fa-solid fa-pen"></i></a></td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="5" class="rms-empty-state">{{ text_no_results }}</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </form>
    {% endset %}
    {% include 'common/rms_admin_card.twig' with {
      rms_card_icon: 'fa-solid fa-grip',
      rms_card_title: text_list,
      rms_card_body: rms_card_body
    } %}
  </div>
</div>
{{ footer }}
