{{ header }}{{ column_left }}
<div id="content" class="rms-report-page" data-testid="admin-report-statistics-page">
	{% set rms_heading_title = heading_title %}
	{% set rms_breadcrumbs = breadcrumbs %}
	{% include 'common/rms_page_header.twig' %}
	<div class="container-fluid">
    {% set rms_card_body %}
      <div id="statistics" data-testid="admin-statistics-list">{{ list }}</div>
    {% endset %}
    {% set rms_card_icon = 'fa-solid fa-list' %}
    {% set rms_card_title = text_list %}
    {% include 'common/rms_admin_card.twig' %}
	</div>
</div>
<script type="text/javascript"><!--
$('#statistics').on('click', '.btn-warning', function (e) {
    e.preventDefault();

    var element = this;

    $.ajax({
        url: $(element).attr('href'),
        dataType: 'json',
        beforeSend: function () {
            $(element).button('loading');
        },
        complete: function () {
            $(element).button('reset');
        },
        success: function (json) {
            if (json['error']) {
                $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            }

            if (json['success']) {
                $('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

                $('#statistics').load('index.php?route=report/statistics.list&user_token={{ user_token }}');
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script>
{{ footer }}
